<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Virtual NAT</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style media="screen">
      body {
        font-family: 'Titillium Web', sans-serif;s
      }
      .table tbody>tr>td.vert-align{
        vertical-align: middle;
      }
    </style>
    <style type="text/css">.uib-time input{width:0px;}</style>
  </head>
  <body ng-app="iptablesWebApi" ng-controller="iptablesCtrl">
    <div class="container">
      <div class="panel panel-primary">
      <div class="panel-heading">Virtual NAT</div>
      <div class="panel-body">
      <div class="col-md-3">
        <form name="hostsForm" class="form-horizontal">
        <fieldset>
         <div class="form-group">
           <label for="repeatHost"> Host </label>
           <select name="repeatHost" id="repeatHost" ng-model="addrule.address" class="form-control">
             <option ng-repeat="host in hosts" value="{{host.ip}}">{{host.ip}} ({{host.hostname}})</option>
           </select>
           <label for="repeatProtocol"> Protocol </label>
           <select name="repeatProtocol" id="repeatProtocol" ng-model="addrule.protocol" class="form-control">
             <option value="tcp">TCP</option>
             <option value="udp">UDP</option>
           </select>
           <label for="port">Internal Port</label>
           <input type="text" class="form-control" id="port" ng-model="addrule.port">

        </div>
        <button class="btn btn-success" ng-click="addRule()"> <i class="fa fa-plus" aria-hidden="true"></i> Add rule</button>
      </fieldset>
       </form>
       </div>
       <div class="col-md-9">
         <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
           <select ng-model="searchHost" class="form-control">
             <option value="">*</option>
             <option ng-repeat="host in hosts" value="{{host.ip}}">{{host.ip}} ({{host.hostname}})</option>
           </select>
         </div>
         </div>
         <div class="col-md-6">
         <div class="input-group">
           <div class="input-group-addon"><i class="fa fa-search"></i></div>
           <input type="text" class="form-control" placeholder="Search" ng-model="searchField">
         </div>
         </div>
         Current port forwarding
        <table class="table table-striped">
          <tr>
            <th>Internal address</th><th>Internal port</th><th>Protocol</th><th>External address:port</th><th>Action</th>
          </tr>
          <tr ng-repeat="rule in rules  | filter:searchHost | filter:searchField">
            <td>{{rule.address}}</td><td>{{rule.port}}</td><td>{{rule.protocol}}</td><td> alpha.home.tekoone.ru:{{rule.dport}}</td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="delRule(rule)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
          </tr>
        </table>
      </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
